{% extends "master.html.twig" %}

{% block meta %}
    {% autoescape false %}
        {{ sulu_seo(extension.seo, content, urls, shadowBaseLocale) }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>

    <div property="article">
        {{ content.article|raw }}
        {% dump(content) %}
        {% for  block in content.blocks%}
            <div style="display: block; width: 100%">

            <div >
                <img src="{{ block.images[0].getFormats()['400x400'] }}" />
            </div>
            <div >{{ block.article|raw }}</div>
            </div>
            <span style="clear: both"></span>
        {% endfor %}
    </div>
    <div>
        {% for  snippet in content.snippets%}
            <div style="display: block; width: 100%">

                <div class="snippet-title">
                    <h3>{{ snippet.title }}</h3>
                </div>
                <div >{{ snippet.description|raw }}</div>
            </div>
            <span style="clear: both"></span>
        {% endfor %}
    </div>
{% endblock %}
